body {
  text-align: center;
}

#grid-container {
  margin: auto;
  display: grid;
  grid-gap: 20px;
  width: 500px;
  position: relative;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  justify-items: center;
  padding: 10px;
}
.grid-item {

  background-color: rgba(255, 255, 255, 0.8);
  outline: 1px solid black;
  font-size: 30px;
  text-align: center;
  width: 150px;
  height: 100px;
}
.image {
  width: 100%;
}

#start-button {
  padding: 10px;
}

.alert-box {
  padding: 5px;
  border: 1px solid black;
  font-size: 1.5em;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color:white;
}

.bottom {
  margin: auto;
  width: 500px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}